/*Slide section position resets*/

/*Variables*/
$blue: #22d3c5;
$blue-a: #297a78;
$green: #558930;
$yellow: #cede00;


* {
  font-family: 'Titillium Web', sans-serif;
}


.reveal .slides {
  height: 100%;
  top: 0;
  margin-top: 0;
}

.reveal .slides>section {
  min-height: 90%;
  top: 0px !important;
}

.reveal .slides>section>section {
  min-height: 100%;
}


/*Typography*/

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 1.2em; 
  color: #005458;
  text-transform: uppercase;
  font-weight: 700;
}

.reveal h2 {
  font-size: 1.6em; 
  color: #9fa1a1;
  font-weight: 300;
}

.reveal h3 {
  font-size: 1em; 
  text-transform: uppercase;
}

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*Custom Css*/

/*Slide A*/

.logo {

	img{
		float: right;
		width: 38%;
		margin-right: 3%;
	}

}

.slide-a {

	.reveal h1 {
	  font-size: 2.1em; 
	  color: #005458;
	  text-transform: uppercase;
	  font-weight: 700;
	  opacity: 0.9;
	  margin-bottom: 5%;
	}

	.title {
		float: left;
		width: 23%;
		margin-top: 15%;
		margin-left: 7%;
		text-align: left;
	}

}

.slide-a {

	.logo {

		img {
				width: 38%;
			}

	}

}

.speech-a {
	margin-top: 12% !important;
	background-color: #32d2d6;
	border-radius: 6px;

	p {
		font-size: 12px;
		color: #fff;
		padding: 7%;
	}
}

.speech-a:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 25px 19px 0;
	border-color: #32d2d6 transparent;
	display: block;
	width: 0;
	z-index: 1;
	bottom: 16px;
	left: 11%;
}

/*Slide-B*/

.slide-b {

	/*Speech Bubble titles*/
	h3 {
		margin-top: 10%;
		font-size: 30px;
		font-weight: 700;
		text-align: left;
		padding-right: 12%;
	}
	
	/*Speech bubble titles*/
	.blue {
		color: $blue-a;
	}

	.green {
		color: $green;
	}

	.yellow {
		color: $yellow;
	}

	h2 {
		text-align: left;
		width: 70%;
		margin-top: 10%;
	}

	.logo {

		margin-top: 6%;

		img {
				width: 60%;
			}

	}
	

	.col-md-4 div {
		margin-top: 4% !important;
		border-radius: 6px;
		width: 80%;
	}

	.speech-b {
		background-color: $blue;
	}

	.speech-b:after {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 25px 19px 0;
		border-color: $blue transparent;
		display: block;
		width: 0;
		z-index: 1;
		bottom: 0px;
		left: 11%;
	}

	.speech-c {
		background-color: $green;
	}

	.speech-c:after {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 25px 19px 0;
		border-color: $green transparent;
		display: block;
		width: 0;
		z-index: 1;
		bottom: 0px;
		left: 11%;
	}

	.speech-d {
		background-color: $yellow;
	}

	.speech-d:after {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 25px 19px 0;
		border-color: $yellow transparent;
		display: block;
		width: 0;
		z-index: 1;
		bottom: 0px;
		left: 11%;
	}

	p {
		font-size: 12px;
		color: #fff;
		padding: 7%;
		text-align: left;
	}

}


/*Slide-C*/

.slide-c {
	.logo {

		margin-top: 6%;
		margin-right: 8%;

		img {
				width: 78%;
			}

	}
}