html, body, .container-fluid {
	height: 100%;

}

.main {
	position: relative;
	width: 80%;
	height: 1000px;
	border: black 3px solid;
	font-size: 54px;
}

.slide-a

p {
	height: 100%;
	width: 80%;
	font-size: 54px;
}
