doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700', type='text/css')
    link(rel='stylesheet', href='bower_components/reveal.js/css/reveal.css')
    link(rel='stylesheet', href='bower_components/reveal.js/css/theme/simple.css')
    link(rel='stylesheet', href='css/custom-min.css')
  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade Your browser</a>
      | to improve your experience.
    <![endif]-->

    //- Add your site or application content here
    .reveal
      .slides
        section(class='slide-a' data-background-image='img/bg-c.jpg')
          div.logo
            img(src='img/impactnew.png')
          div.title#firstTitle 
            h1 Lorem Ipsum Dolor Sit Amet.
            div.speech-a.fragment.fade-in
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum numquam laudantium iusto beatae perspiciatis. Animi similique delectus, ipsum veniam aliquam dolorem voluptate expedita tempora repudiandae perspiciatis. Odio quisquam facere assumenda.
        section(class='slide-b' data-background-color='#ffffff')
          .row
            .col-md-6
              h2 lorem ipsum dolor sit amet 
            .col-md-6
              div.logo
                img(src='img/impactnew.png')
          .row
            .col-md-4
              h3.blue lorem ipsum dolor sit amet.
              div.speech-b.center-block.fragment.fade-in
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit non beatae magni, aliquid, inventore id sapiente saepe consequuntur, hic rem error accusantium labore veniam, obcaecati odio dolor omnis maxime voluptate.
            .col-md-4
              h3.green lorem ipsum dolor sit amet.
              div.speech-c.center-block.fragment.fade-in 
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit non beatae magni, aliquid, inventore id sapiente saepe consequuntur, hic rem error accusantium labore veniam, obcaecati odio dolor omnis maxime voluptate.
            .col-md-4
              h3.yellow lorem ipsum dolor sit amet.
              div.speech-d.center-block.fragment.fade-in 
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit non beatae magni, aliquid, inventore id sapiente saepe consequuntur, hic rem error accusantium labore veniam, obcaecati odio dolor omnis maxime voluptate.
        section(class='slide-c' data-background-color='#ffffff')
          .row
            .col-md-5
              div.circle-images#cImg
                img(src='img/bg-f.jpg')
            .col-md-7
              div.logo
                img(src='img/impactnew.png')
              h4#cTitle Lorem ipsum dolor sit amet
              p.fragment.fade-in Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima assumenda eaque reiciendis maiores atque cupiditate itaque, temporibus quidem tempora. Unde repellendus ad sed, beatae accusamus ab repellat praesentium eaque inventore?
        section(class='slide-b' data-background-color='#ffffff')
          .row
            .col-md-6
              h2 lorem ipsum dolor sit amet 
            .col-md-6
              div.logo
                img(src='img/impactnew.png')
          .row
            .col-md-4
              h3.blue lorem ipsum dolor sit amet.
              div.speech-b.center-block.fragment.fade-in
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit non beatae magni, aliquid, inventore id sapiente saepe consequuntur, hic rem error accusantium labore veniam, obcaecati odio dolor omnis maxime voluptate.
            .col-md-4
              h3.green lorem ipsum dolor sit amet.
              div.speech-c.center-block.fragment.fade-in 
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit non beatae magni, aliquid, inventore id sapiente saepe consequuntur, hic rem error accusantium labore veniam, obcaecati odio dolor omnis maxime voluptate.
            .col-md-4
              h3.yellow lorem ipsum dolor sit amet.
              div.speech-d.center-block.fragment.fade-in 
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit non beatae magni, aliquid, inventore id sapiente saepe consequuntur, hic rem error accusantium labore veniam, obcaecati odio dolor omnis maxime voluptate.
        section(class='slide-d' data-background-image='img/bg-g.jpg')
          h1#finalTitle
            span Lorem ipsum dolor sit amet. 
          div.logo
            img(src='img/impactnew.png')

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='bower_components/reveal.js/js/reveal.js')
    script(src='js/custom.js')
