doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700', type='text/css')
    link(rel='stylesheet', href='bower_components/animsition/dist/css/animsition.min.css')
    //- link(rel='stylesheet', href='css/custom-min.css')
  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade Your browser</a>
      | to improve your experience.
    <![endif]-->

    //- Add your site or application content here
    .container-fluid
        .row
          .col-md-12
            .animsition
              h1 Home Page
              a(href="index.html" class="animsition-link")
                h1 Page One
              a(href="page-a.html" class="animsition-link")
                h1 Page Two
              a(href="page-b.html" class="animsition-link")
                h1 Page Three
              a(href="page-c.html" class="animsition-link")
                h1 Page Four
              a(href="page-d.html" class="animsition-link")
                h1 Page Five 

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='js/custom.js')
    script(src='bower_components/animsition/dist/js/animsition.min.js')